body{
    background-color:hsl(219, 100%, 27%);
}
.heading{
    color:white;
    font-size: 24px;

}
.green{
    color:  green;
    font-size: 54px;
}
.white{ 
    color: white;
    font-size: 34px;
}
h1{
    color: white;
    font-size: 64px;
    text-align: center;
}
div{
    color: darkred;
    font-size: 34px;
}
img{
    width: 300px;
    height: 220px;
} 
.header{
    text-align: center;

}